* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Playfair Display", serif;
}

#imagem-home {
  display: flex;
  height: 40px;
  transition: all 0.5s ease;
}

#logo-empresa {
  display: flex;
  align-items: center;
}

#logo-empresa img {
  height: 100px;
  transition: transform 0.3s ease;
}
#logo-empresa:hover img {
  transform: scale(1.25);
}

#perfil-header {
  display: flex;
}

#carrinho {
  display: flex;
  align-items: center;
}
#carrinho h1 {
  color: rgb(0, 51, 102);
  display: flex;
  font-size: 20px;
  margin-left: 25px;
  transition: transform 0.3s ease;
  text-decoration-line: none;
  text-decoration: none;
}

#titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 10%;
}

#titulo h1 {
  font-size: 40px;
  color: rgb(0, 51, 102);
  background-clip: text;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  background: rgb(191, 207, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

#produtos {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  width: 900px;
  height: 500px;
  gap: 20px;
}

.perfume {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  width: 110%;
  background-color: rgb(255, 255, 255);
  border: rgb(0, 51, 102) 4px solid;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
.perfume p {
  color: rgb(0, 51, 102);
  font-size: 18px;
}

.botao-mais {
  display: flex;
  background-color: rgb(0, 51, 102);
  height: 35px;
  width: 35px;
  justify-content: center;
  align-items: center;
}
.perfume :hover{
  transition: all 0.5s;
  transform: scale(1.05)
}

.botao-mais p {
  color: white;
}

#total {
  padding: 200px;
  border-radius: 10px;
  width: 450px;
  border: rgb(0, 51, 102) 4px solid;
  background-color: white;
}
.perfume img {
  height: 90px;
  transition: transform 0.3s ease;
}
.perfume :hover img {
  transform: scale(1.25);
}

