@import url("https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap");

* {
    font-family: "TASA Explorer", sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}