* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
body{
   background: rgb(191,207,219)
}
  
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 2px 25px;
    justify-content: space-between;
    text-align: center;
 }

#marca{
    font-size: 40px;
    background: rgb(0, 51, 102);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: auto;
    position: relative;
    right: 80px;
    margin-left: 15%;
}

.icons {
    display: flex;
    gap: 5px;
    padding: 13px;
    justify-content: space-between;
    display: flex;
    height: 64px;
    margin: 10px;
  }
  
  #icon-pessoa {
    height: 40px;
  }

  #icon-sacola{
    height: 40px;
  }

  #icon-local:hover {
  
     background-color: rgb(0, 51, 102);
     border-radius: 50%;
     transition: 0.3s;
  }
  
  #icon-lupa:hover {
     background-color: rgb(0, 51, 102);
     border-radius: 50%;
     transition: 0.3s;
  }
  
  #icon-pessoa:hover {
     background-color: rgb(0, 51, 102);
     border-radius: 50%;
     transition: 0.3s;
  }
  
  #icon-sacola:hover {
     background-color: rgb(0, 51, 102);
     border-radius: 50%;
     transition: 0.3s;
  }

  h1 {
    font-family: "TASA Explorer";
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    background: #7a624b;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: space-between;
    margin: 20px;
  }

.perfumista {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   }

.clement{
   display: flex;
   flex-direction: column;
   margin: 2rem;
   justify-items: center;
   align-items: center;
   text-align: center;
   background-color: rgb(194, 221, 255);
   border: 2px solid rgb(69, 98, 121);
   border-radius: 10px;
}
.clement:hover {
   transform: scale(1.05);
   transition: 0.3s;
   box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
}


.texto-perfumista{
   display: flex;
}
#perfumista-1 {
   margin-top: 90px;
   border-radius: 10px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
}

.texto-1 {
   font-family: "TASA Explorer";
   margin: 90px;
   font-size: 30px;
   border-radius: 10px;
   width: 900px;
   text-align: justify;
}
.texto{
   font-family: "TASA Explorer";
   margin: 20px;
   font-size: 30px;
   border: 2px solid rgb(69, 98, 121);
   max-width: 85%;
   background-color: rgb(179, 201, 218);
   border-radius: 10px;
   justify-content: center;
}
.texto:hover{
   transform: scale(1.02);
   transition: 0.3s;
   box-shadow: 10px 10px 35px rgba(0,0,0,0.3);
   margin: 20px;
}
p{
   margin: 20px;
   font-size: 30px;
   border: 2px solid rgb(69, 98, 121);
   background-color: rgb(179, 201, 218);
   border-radius: 10px;
   justify-content: center;
   text-align: center;
}
.perfumes{
   justify-content: space-between;
   display: flex;
   margin: 50px;
}
.icon-perfumes{
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.perfumes-icon{
   height: 400px;
   border-radius: 10px;
   margin: 10px;
   background-color: aliceblue;
   text-align: center;
   top: 10px;
   border: 2px solid gray;
}
.perfumes-icon:hover{
   transform: scale(1.05);
   transition: 0.3s;
   box-shadow: 10px 10px 35px rgba(0,0,0,0.3);
}
footer {
  text-align: center;
  font-size: 20px;
  padding: 30px 0; /* Ajuste o padding para não ter laterais */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 51, 102);
  text-transform: lowercase;
  width: 100%;
  border-top: rgb(0, 51, 102) 4px solid;
  margin-top: 20px;
}